* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url("assets/Rectangle\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 435px;
}

.container-nav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    margin: 0 0 64px 0;
    box-sizing: border-box;
}

.containe-img-a-button {
    display: flex;
    width: 100%;
    max-width: 1144px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.lista-desordenada-1 {
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
}

.button-sing-in {
    padding: 10px 16px;
    background-color: rgba(250, 250, 250, 0.5);
    color: #fff;
    border-radius: 20px;
    border: none;
    letter-spacing: 1.25px;
    font-weight: bold;
    font-size: 16px;
}

.button-sing-in:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button-css {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    letter-spacing: 1.25px;
    font-weight: bold;
    font-size: 16px;

}

@media screen and (max-width: 320px) {
    body {
        background-image: url("assets/Rectangle\ 1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 100% 300px;
    }

    .lista-desordenada-1 {
        display: none;
    }

    .button-sing-in {
        display: none;
    }

    .hamburger-button {
        width: 50px;
        height: 30px;
        background-color: rgba(250, 250, 250, 0.25);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar {
        width: 18px;
        height: 2px;
        background-color: white;
        margin: 1px 0;
    }
}


@media only screen and (max-width: 550px) {
    body {
        background-image: url("assets/Rectangle\ 1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 100% 400px;
    }

    .lista-desordenada-1 {
        display: none;
    }

    .button-sing-in {
        display: none;
    }

    .hamburger-button {
        width: 50px;
        height: 30px;
        background-color: rgba(250, 250, 250, 0.25);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar {
        width: 18px;
        height: 2px;
        background-color: white;
        margin: 1px 0;

    }

}

@media only screen and (max-width: 768px) {
    body {
        background-image: url("assets/Rectangle\ 1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 100% 250px;
    }

    .lista-desordenada-1 {
        display: none;
    }

    .button-sing-in {
        display: none;
    }

    .hamburger-button {
        width: 50px;
        height: 30px;
        background-color: rgba(250, 250, 250, 0.25);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar {
        width: 18px;
        height: 2px;
        background-color: white;
        margin: 1px 0;

    }

}

.container-seccion-1 {
    width: 100%;
    display: flex;
    justify-content: center;

}

.coantainer-two-colum {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 1144px;
}

.container-colum-izquierdo {
    width: 50%;
    box-sizing: border-box;
    padding: 0 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

h1 {
    font-weight: 600;
    font-size: 94px;
    margin: 0;
    width: 100%;
    letter-spacing: -2px;
    line-height: 108px;
}

.container-p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 26px 0;
}

.button-start-now {
    background-color: #0a2540;
    color: #fff;
}

.button-contact {
    color: #7000ff;
    background-color: transparent;
}

.container-button {
    display: flex;
}

.button-start-now:hover,
.button-contact:hover {
    opacity: 0.4;
    cursor: pointer;

    .flecha {
        transform: translateX(6px);
        transition: transform 0.4s;
    }
}

.container-colum-derecho {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

}

.hero-phone {
    height: 628px;
    transform: translate(32px, -32px)
}

.container-conjuto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-imgs {
    width: 100%;
    max-width: 1144px;
}

.container-gird {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 16px;
    row-gap: 32px;
    margin: 64px 0;
}

[class*="logos-img"] {
    height: 60px;
}


@media (min-width: 300px) and (max-width: 550px) {
    .container-colum-derecho {
        display: none;
    }

    .coantainer-two-colum {
        padding: 0 16px;
    }

    .container-colum-izquierdo {
        box-sizing: border-box;
        padding: 0 0 0 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    h1 {
        font-weight: 600;
        font-size: 46px;
        margin: 0;
        width: 100%;
        max-width: 200px;
        letter-spacing: -2px;
        line-height: 70px;
    }

    .container-imgs {
        padding: 0 16px;
    }

    .container-gird {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
        row-gap: 16px;
        padding: 0 16px;
    }

    [class*="logos-img"] {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 549px) and (max-width: 750px) {
    .container-colum-derecho {
        display: none;
    }

    .coantainer-two-colum {
        padding: 0 16px;
    }

    .container-colum-izquierdo {
        box-sizing: border-box;
        padding: 0 0 0 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    h1 {
        font-weight: 600;
        font-size: 46px;
        margin: 0;
        width: 100%;
        max-width: 200px;
        letter-spacing: -2px;
        line-height: 70px;
    }

    .container-imgs {
        padding: 0 16px;
    }

    .container-gird {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
        row-gap: 16px;
        padding: 0 16px;
    }

    [class*="logos-img"] {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 750px) and (max-width: 1030px) {

    h1 {
        font-weight: 600;
        font-size: 56px;
        margin: 0;
        width: 100%;
        max-width: 400px;
        letter-spacing: -2px;
        line-height: 60px;
    }

    .coantainer-two-colum {
        padding: 0 16px;
    }

    .container-imgs {
        padding: 0 16px;
    }

    .container-imgs {
        padding: 0 16px;
    }

    [class*="logos-img"] {
        width: 100%;
        height: auto;
    }
    .container-colum-derecho {
        width: 50%;
        box-sizing: border-box;
        padding: 0 0 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
/*<!--SEGUNDA PARTE-->*/
.container-seccion-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f7f9fc;
    padding: 64px 0;
}

.container-sub {
    width: 100%;
    max-width: 1144px;
}

p {
    margin: 16px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.p-morado {
    color: #6962f7;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    width: 100%;
    padding: 20px 0;
}

.h2-seccion-2 {
    width: 50%;
    margin-bottom: 16px;
}

.container-two-colum-seccion2 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.colum-p-izquierdo {
    width: 50%;
    box-sizing: border-box;
    padding: 0 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.colum-p-derecho {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.color-link {
    color: #6962f7;
    text-decoration: none;
}

.boton-seccion2 {
    background-color: #6962f7;
}

@media screen and (max-width: 320px) {
    .container-two-colum-seccion2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container-sub {
        width: 100%;
        max-width: 1144px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .colum-p-izquierdo {
        width: 100%;
        padding: 0 0 0 16px;
    }

    .colum-p-derecho {
        width: 100%;
    }

    .p-morado {
        margin: 0 16px;
        box-sizing: border-box;
    }

    .h2-seccion-2 {
        width: 100%;
        margin-bottom: 16px;
        font-size: 38px;
        margin: 0 16px;
        box-sizing: border-box;
    }

    .container-imgeness {
        margin: 0 16px
    }
}

@media screen and (max-width: 550px) {
    .container-two-colum-seccion2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container-sub {
        width: 100%;
        max-width: 1144px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .colum-p-izquierdo {
        width: 100%;
        padding: 0 0 0 16px;
    }

    .colum-p-derecho {
        width: 100%;
    }

    .p-morado {
        margin: 0 16px;
        box-sizing: border-box;
    }

    .h2-seccion-2 {
        width: 90%;
        margin-bottom: 16px;
        margin: 0 16px;
        box-sizing: border-box;
    }

    .boton-seccion2 {
        margin-left: 13px;
    }
}


.gid-imagenes {
    background-color: #f7f9fc;
    width: 100%;
    display: flex;
    justify-content: center;

}

.container-de-imagnes {
    width: 100%;
    max-width: 1144px;
}

.container-imgeness {
    display: grid;
    grid-template-areas:
        "card slack slack"
        "phone slack slack"
        "phone dash dash";
    padding: 32px 0px;
    row-gap: 32px;
    column-gap: 32px;
}

#tcredito-tarjeta {
    grid-area: card;
    width: 100%;
    border-radius: 20px;
}

#slack-tarjeta {
    grid-area: slack;
    width: 100%;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

#phone-tarjeta {
    grid-area: phone;
    width: 100%;
    border-radius: 20px;
}

#dash-tarjeta {
    grid-area: dash;
    width: 100%;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

@media screen and (max-width: 320px){
    .container-imgeness {
        display: grid;
        grid-template-areas:
            "card"
            "phone"
            "phone"
            "slack"
            "slack"
            "dash"
            "dash";
        padding: 32px 0px;
        row-gap: 32px;
        column-gap: 32px;
    }
    
    #tcredito-tarjeta {
        grid-area: card;
        width: 100%;
        border-radius: 20px;
    }
    
    #slack-tarjeta {
        grid-area: slack;
        width: 100%;
        box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }
    
    #phone-tarjeta {
        grid-area: phone;
        width: 100%;
        border-radius: 20px;
    }
    
    #dash-tarjeta {
        grid-area: dash;
        width: 100%;
        box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }
}
/*PARTE TRES 3*/
.parte-3 {
    display: flex;
    justify-content: center;
    background-color: #0a2540;
}

.two-colum {
    display: flex;
    flex-direction: row;
}

.container-p-button {
    width: 50%;
}

.container-api-terminal {
    width: 50%;
}

.api-terminal {
    max-width: 470px;
    border-radius: 20px;
    margin: 0 0 16px 0;
}

.p-1 {
    color: #00d4ff;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}

.title {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

.p-2 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 26px;
}

.boton {
    background-color: #00d4ff;
    color: #0a2540;
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 0 0;
}

.boton:hover {
    opacity: 0.4;
    cursor: pointer;

    .flechaB {
        transform: translateX(6px);
        transition: transform 0.4s;


    }
}

.button-css:hover {
    opacity: 0.3;
    cursor: pointer;

    .flechaB {
        transform: translateX(6px);
        transition: transform 0.4s;


    }
}

.subtitulo-h3 {
    font-size: 22px;
    font-weight: 460;
    margin: 0;
    color: white;
}

.p-subtitloh3 {
    font-size: 14px;
    color: #adbdcc;
    letter-spacing: 0.25px;
    line-height: 18px;
    margin: 5px;
}

.parrafo-iz {
    margin-right: 10px;
}

.parrafo-dere {
    margin-left: 5px;
}

.parte-3-boton {
    background-color: transparent;
    color: #00d4ff;
    font-size: 16px;
    letter-spacing: 1.25px;
    font-weight: bold;
}

.parte-3-boton:hover {
    opacity: 0.5;
}

#icon {
    height: 50px;
    margin: 0 0 8px 0;
}

.botones-1-2 {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
}

.container-p-button {
    max-width: 600px;
    margin-right: 10px;
}

.container-api-terminal {
    margin: 10px 10px;
    padding: 0 0 0 16px;

}

@media only screen and (max-width: 320px) {
    .container-api-terminal {
        display: none;
    }

    .container-p-button {
        width: 100%;
        margin: 5px 16px;
    }

    .botones-1-2 {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
    }

    .button-see-libraries {
        margin: 10px 0;
    }

    .button-explore-partners {
        margin: 10px 0;
    }
}

@media screen and (max-width: 550px) {
    .container-api-terminal {
        display: none;
    }

    .container-p-button {
        width: 100%;
        margin: 5px 16px;
    }

    .botones-1-2 {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
    }

    .button-see-libraries {
        margin: 10px 0;
    }

    .button-explore-partners {
        margin: 10px 0;
    }
}